<%= render "quiz_center/presence_tracker" %>

<style>
  .online {
    color: #82cf85;
	}

	.offline {
		color: #f57e7d;
	}
</style>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <h1 class="center">Participant Management:</h1>
      <div class="panel-heading">Participants (<span class="online-count">0</span> online)</div>
      <ul class="list-group">
        <% @students.each do |student| %>
          <li class="list-group-item">
            <i class="fa fa-circle-o offline" id="status-light" data-student-id="<%= student.id %>"</i></i>
             <%= student.name %> | <%= student.email %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <h1 class="center">
      Assignment Management:

      <button class="btn btn-sm btn-default" data-assignment-id="<%= @assignment.id %>" id="start-assignment">
        <% if @assignment.started %>
          Stop Student Work
        <% else %>
          Start Student Work
        <% end %>
      </button>
    </h1>

  </div>
</div>

<%= render "quiz_center/pusher_teacher_notifier" %>
