<div class="page-header center">
  <h1><%= @course.name %> <small> <%= @course.code %> </small></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Course Description:</strong>
      <%= @course.description %>
    </p>

    <hr>

    <p><b><%= @course.students.count %> Enrolled Students:</b></p>
    <% if @course.students.any? %>
      <ul>
        <% @course.students.each do |student| %>
          <li> <%= student.name %> </li>
        <% end %>
      </ul>
    <% else %>
      <p>No students currently enrolled in this course.</p>
    <% end %>

    <hr>

    <% if current_teacher && @course.teacher == current_teacher %>
      <%= link_to 'Edit', edit_course_path(@course) %> |
    <% end %>
    <%= link_to 'Back', courses_path %>
  </div>

  <div class="col-md-6">
    <p>Upcoming Assignments:</p>
    <%= render "courses/assignments" %>

    <% if current_teacher && @course.teacher == current_teacher %>
      <%= render 'courses/new_assignment' %>
    <% end %>
  </div>
</div>
