<h1 class="center">Welcome to the Quiz Center, <%= current_user.name %>!</h1>

<hr>

<% if @assessments && !@assessments.empty? %>
  <div class="row">
    <% @assessments.each do |sa| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">

            <% if student_signed_in? %>
              <h3> <%= sa.assignment.name %> </h3>
              <p><b> Due Date: <%= sa.assignment.due_date.strftime("%A, %B %d") %> </b></p>
            <% else %>
              <h3> <%= sa.name %> </h3>
              <p><b> Due Date: <%= sa.due_date.strftime("%A, %B %d") %> </b></p>
            <% end %>

            <p>
              <!-- <%= link_to 'Open', root_path, class: 'btn btn-primary', role: 'button' %> -->
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <p class="center">You currently have no interactive assessments that are assigned to you.</p>
<% end %>
