<button type="button" class="btn btn-primary btn-lg" id="new-assignment-toggler" data-toggle="modal" data-target="#newAssignment">
  <span class="glyphicon glyphicon-plus"></span> New Assignment
</button>

<div class="modal fade" id="newAssignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Assignment</h4>
      </div>
      <div class="modal-body">

        <%= form_tag assignments_path(@course), id: "new-assignment-form" do %>
          <input type="hidden" name="assignment[course_id]" value="<%= @course.id %>" id="assignment_course_id" class="new-assignment-course_id">
          <div class="form-group">
           <%= label_tag "name" %>
            <%= text_field_tag "assignment[name]", nil, placeholder: "abc123", class: "form-control new-assignment-name" %>
          </div>
          <div class="form-group">
            <%= label_tag "description" %>
            <%= text_field_tag "assignment[description]", nil, placeholder: "abc123", class: "form-control new-assignment-description" %>
          </div>
          <div class="form-group">
            <%= label_tag "due_date", "Due Date" %>
            <input type="text" data-provide='datepicker' name="assignment[due_date]" class="form-control new-assignment-duedate">
          </div>

          <div class="form-group">
            <label for="assignment_category">Category</label><br>
            <select name="assignment[category]" id="assignment_category" class="form-control new-assignment-category">
              <option selected="selected" value="Homework">Homework</option>
              <option selected="selected" value="Quiz">Quiz</option>
              <option selected="selected" value="Test">Test</option>
              <option selected="selected" value="Project">Project</option>
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= button_tag "Submit", type:"submit", class: "btn btn-primary new-assignment-btn popup-submit" %>
      </div>
        <% end %>

    </div>
  </div>
</div>
