<h1>My Courses</h1>

<hr>

<div class="row">
  <% @courses.each do |course| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3> <%= course.name %> </h3>
          <p><b>Code:</b> <%= course.code %> </p>
          <p><b>Description:</b> <%= course.description %> </p>
          <% if course.students.any? %>
            <p><b>Students Enrolled:</b> <%= course.students.count %></p>
          <% end %>
          <p>
            <%= link_to 'Show', course , class: 'btn btn-primary', role: 'button' %>
            <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-default', role: 'button' %>
            <button class="btn btn-default" data-course-id="<%= course.id %>" id="delete-course">
              Destroy
            </button>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Course', new_course_path, class: 'btn btn-lg btn-primary' %>
